<a href="https://colab.research.google.com/github/jcorales/python/blob/clase-3/class_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
###LISTAS Y TUPLAS
list_nu= [1,2,3,4]
print(list_nu)
list_nom = ['Hola','Mundo']
list_nom
list_het= ['texto', -1, "experimento"]
print(list_het)

[1, 2, 3, 4]
['texto', -1, 'experimento']

In [ ]:
##buscar en el array 
list_het= ['texto', -1, "experimento"]
print(list_het[1])

print(len(list_het))

print(list_het[:-1])
print(list_het[:-2])
print(list_het[:3])

-1
3
['texto', -1]
['texto']
['texto', -1, 'experimento']

In [ ]:
list_num= [1,2,3,4]

list_num= list_num + ['hola', 'mundo']
print(list_num)

list_num[1] = "chevere"
print(list_num)

[1, 2, 3, 4, 'hola', 'mundo']
[1, 'chevere', 3, 4, 'hola', 'mundo']

In [ ]:
##APPEND

In [ ]:
####LISTO DESAFÍO

list_1= [456789, 'Hola Mundo']
print(list_1)

list_2= []
list_2.append('Hola y Adios')
list_2.append(55555)
#list_class_2= ['Hola y Adios' , 55555]
print(list_2)
##############
###############

#list_class_3= list_1[:-1] 
#print(list_class_3)

###############pop
list_3= list_1.pop() 
print(list_3)

##################

###Eliminación ######
print("###Eliminación ######")

list_4= list_2[1:-1] 
print(list_4)

#####lista_5
print("#####lista_5 -- suma de lista 1 y 2")
list_5 = list_1 + list_2
print(list_5)

############3
datos = [1, -5, 123, 34, 'Una cadena', 'Otra cadena']
datos.pop(4)
print(datos)

[456789, 'Hola Mundo']
['Hola y Adios', 55555]
Hola Mundo
###Eliminación ######
[]
#####lista_5 -- suma de lista 1 y 2
[456789, 'Hola y Adios', 55555]
[1, -5, 123, 34, 'Otra cadena']

In [ ]:
##Tuplas

list_tupla = (1, 2, 3,7,7, 4, 5, 6, 7, "hola", 9, 10)
print(list_tupla[9:11])
print(list_tupla[-1])
print(len(list_tupla))
print(list_tupla.index("hola"))
print(list_tupla[7:11])
print(list_tupla.count(7))

####crear list con los 3 últimas las tuplas ###

lista_tupla2 = list_tupla[:-3]
print(lista_tupla2)
lista_tupla2 = list_tupla[-3:]
print(lista_tupla2)
print(list_tupla[8])
print(list_tupla.count(7))

('hola', 9)
10
12
9
(6, 7, 'hola', 9)
3
(1, 2, 3, 7, 7, 4, 5, 6, 7)
('hola', 9, 10)
7
3

In [ ]:
####prácticas

print(a * 5)

NameError: ignored