<a href="https://colab.research.google.com/github/jcorales/python/blob/clase-3/class_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
###LISTAS Y TUPLAS
list_nu= [1,2,3,4]
print(list_nu)
list_nom = ['Hola','Mundo']
list_nom
list_het= ['texto', -1, "experimento"]
print(list_het)

[1, 2, 3, 4]
['texto', -1, 'experimento']

In [6]:
##buscar en el array 
list_het= ['texto', -1, "experimento"]
print(list_het[1])

print(len(list_het))
print("###########################")
print(list_het[:-1])
print(list_het[:-2])
print(list_het[:-3])
print("###########################")
print(list_het[:3])
print(list_het[:1])
print(list_het[:2])
print("###########################")
list_test= ['texto', -1, "experimento", "chama", 7]
list_test[1] = 1
print(list_test)

-1
3
###########################
['texto', -1]
['texto']
[]
###########################
['texto', -1, 'experimento']
['texto']
['texto', -1]
###########################
['texto', 1, 'experimento', 'chama', 7]

In [ ]:
list_num= [1,2,3,4]

list_num= list_num + ['hola', 'mundo']
print(list_num)

list_num[1] = "chevere"
print(list_num)

[1, 2, 3, 4, 'hola', 'mundo']
[1, 'chevere', 3, 4, 'hola', 'mundo']

In [ ]:
##APPEND

In [7]:
####LISTO DESAFÍO

list_1= [456789, 'Hola Mundo']
print(list_1)

list_2= []
list_2.append('Hola y Adios')
list_2.append(55555)
#list_class_2= ['Hola y Adios' , 55555]
print(list_2)
##############
###############

#list_class_3= list_1[:-1] 
#print(list_class_3)

###############pop
list_3= list_1.pop() 
print(list_3)

##################

###Eliminación ######
print("###Eliminación ######")

list_4= list_2[1:-1] 
print(list_4)

#####lista_5
print("#####lista_5 -- suma de lista 1 y 2")
list_5 = list_1 + list_2
print(list_5)

############3
datos = [1, -5, 123, 34, 'Una cadena', 'Otra cadena']
datos.pop(4)
print(datos)

[456789, 'Hola Mundo']
['Hola y Adios', 55555]
Hola Mundo
###Eliminación ######
[]
#####lista_5 -- suma de lista 1 y 2
[456789, 'Hola y Adios', 55555]
[1, -5, 123, 34, 'Otra cadena']

In [ ]:
##Tuplas

list_tupla = (1, 2, 3,7,7, 4, 5, 6, 7, "hola", 9, 10)
print(list_tupla[9:11])
print(list_tupla[-1])
print(len(list_tupla))
print(list_tupla.index("hola"))
print(list_tupla[7:11])
print(list_tupla.count(7))

####crear list con los 3 últimas las tuplas ###

lista_tupla2 = list_tupla[:-3]
print(lista_tupla2)
lista_tupla2 = list_tupla[-3:]
print(lista_tupla2)
print(list_tupla[8])
print(list_tupla.count(7))

('hola', 9)
10
12
9
(6, 7, 'hola', 9)
3
(1, 2, 3, 7, 7, 4, 5, 6, 7)
('hola', 9, 10)
7
3

In [36]:
#elimina los números
letras = ["a", "b", "c", "d", "e", 5]
letras [-1:] = []
print(letras)

print("####")
#elimina los números
letras2 = [1, 2, 3, "d", "e", 5,6]
print(letras2)
letras2 [:1] = ["comenzemos"]
print(letras2)


print("####")
#borra los números
letras3 = [1, 2, 3, "d", "e", 5,6, "h", "j"]
print(letras3)
letras4 = letras3 [:3] 
letras5 = letras3 [5:-2] 
print(letras4)
print(letras5)
letras6=[]
letras6.append(4)
print(letras6)
print(letras4 + letras6 + letras5)

['a', 'b', 'c', 'd', 'e']
####
[1, 2, 3, 'd', 'e', 5, 6]
['comenzemos', 2, 3, 'd', 'e', 5, 6]
####
[1, 2, 3, 'd', 'e', 5, 6, 'h', 'j']
[1, 2, 3]
[5, 6]
[4]
[1, 2, 3, 4, 5, 6]

In [75]:
###append + elimar duplicados y letras y sorted###
from collections import OrderedDict
lista_num=[1, 2, 5,3,4,5,7, 'd', 'e', 3,8, 6, 'h', 'j']
print(lista_num)
lista_num1 = lista_num [:7]
#lista_num1.sort()
lista_num2 = lista_num [9:-2]
#lista_num2.sort()
print(lista_num1)
print(lista_num2)

print("####")

lista_final= lista_num1 + lista_num2
print(lista_final)
#lista_final.sort()
lista_final = list(OrderedDict.fromkeys(lista_final))
print(lista_final)

[1, 2, 5, 3, 4, 5, 7, 'd', 'e', 3, 8, 6, 'h', 'j']
[1, 2, 5, 3, 4, 5, 7]
[3, 8, 6]
####
[1, 2, 5, 3, 4, 5, 7, 3, 8, 6]
[1, 2, 5, 3, 4, 7, 8, 6]