<a href="https://colab.research.google.com/github/jcorales/python/blob/clase-2/class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
##operadores
c= 4*3
print(2+4)
print(c)
print (10//5) ##divide sin float
print (10/5) ##divide con float
print (2**5)

6
12
2
2.0
32

In [31]:
###texto
####texto
a = 'Hola mundo\tsergio-tabulado\t!!!' ###\t (tabulador)
print(a)
print("###########")
print("esto es un texto\ttabulado")
print("###########")
print("esto es un texto\ncontra-barran n \n vamos a ver.") ####salto entre lineas
print("###########")
print('c:\nombre\tarea')
print('c:\\nombre\\tarea') ## \\ muestra la info como se presenta pero con una sola contrabarra
print(r'c:\nombre\tarea') ## (r') crudo o raw
print("triple comilla")
print("""Hola Susana,
ya comenz贸 
la clase""")
print("\nHola Susana, \nya comenz贸 \nla clase")

Hola mundo	sergio-tabulado	!!!
###########
esto es un texto	tabulado
###########
esto es un texto
contra-barran n
 vamos a ver.
###########
c:
ombre	area
c:\nombre\tarea
c:\nombre\tarea
triple comilla
Hola Susana,
ya comenz贸
la clase

Hola Susana,
ya comenz贸
la clase

In [51]:
print("ejemplo de ingreso datos input")
print("##########")
var1=50
var2=40

int_var_1= input('ingrese valor 1: ')
int_var_2= input('ingrese valor 2: ')

print('(la suma de int_var_1 y int_var_2) es:  ' , float(int_var_1)+ float(int_var_2) )

ejemplo de datos
##########
ingrese valor 1: 4.5
ingrese valor 2: 4.5
(la suma de int_var_1 y int_var_2) es:   9.0

In [53]:
###suma de cadenas de texto

a = "hola "
b = "mundo "

print((a+b)*2)

hola mundo hola mundo

In [1]:
####cadenas de caracteres############3
#print("listas")

a='HOLA MUNDO'
print(a[0])
print(a[-3])
print(a[2])
print(a[:-1])
print(a[1:6])
print(a[::-1])

print(len(a))

H
N
L
HOLA MUND
OLA M
ODNUM ALOH
10

In [2]:
a = 'Hola Mundo'
print(a[0])
print(a[6])
print(a[-3])

H
u
n

In [3]:
a = 'pithon'
print(a)
a = a[0:1]+'y'+a[2:]
print(a)

pithon
python

In [ ]:
#test#